h1#title {
	font-size: 48px;
	font-weight: bold;
	margin-left: 16px;
	}
	
#form_wrapper {
	margin-left: 15px;
	margin-right: 15px;
	}
	
#date_text {
	width: 830px;
	}
	
#go_button {
	width: 90px;
	}

.header_seal {
	display: block;
	margin-left: auto;
	margin-right: auto;
    }
  
.expander {
    float: left;
    margin: 8px 4px;
    width: 24px;
    cursor: pointer;
    }

.summary {
    float: left;
    width: 248px;
    }
    
.clear {
	clear: both;
	}
	
.event_date {
	font-weight: normal;
	}
	
.event_title {
    font-weight: bold;
	}

.event_details {
    display: none;
    padding-left: 30px;
    }
    
.event_description {
    font-style: normal;
    }
    
.event_end_datetime {
    }