<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>votersdaily_web.citizen.views.all</title>    
</head>
<body>
    Total documents: {{ documents|length }}
    <table border="1" margin="0" padding="0">
        <tbody>
            {% for document in documents %}
            <tr>
                <td>{{ document.value.datetime }}</td>
                <td>{{ document.value.title }}</td>
                <td>{{ document.value.description }}</td>
                <td>{{ document.value.end_datetime }}</td>
                <td>{{ document.value.branch }}</td>
                <td>{{ document.value.entity }}</td>
                <td>{{ document.value.source_url }}</td>
                <td>{{ document.value.source_text }}</td>
                <td>{{ document.value.access_datetime }}</td>
                <td>{{ document.value.parser_name }}</td>
                <td>{{ document.value.parser_version }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>