{% load api_helpers %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Voter's Daily</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/text.css" />
    <link rel="stylesheet" href="css/960.css" />
    <link rel="stylesheet" href="css/corners.css" />
    <link rel="stylesheet" href="css/custom.css" />
</head>
<body>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div class="container_12">
        <h1>Voter's Daily</h1>
        {% include_branch branches.executive %}
        {% include_branch branches.judicial %}
        {% include_branch branches.legislative %}
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
	    $('div.event').click(function() {
	        $(this).children('.event_details').toggle('slow');
	        return false;
	    });
    });
    </script>
</body>
</html>